spring:
  application:
    name: financial-agent

langchain4j:
  ollama:
    chat-model:
      base-url: http://localhost:11434
      model-name: granite3.3:8b
      log-requests: true
      log-responses: true
      temperature: 0.7
      top-k: 40
      timeout: PT360S
      num-predict: 131072
      format: json

huggingface:
  access-token: ${hf_api_key}

ai:
  system-message: |
    You are a financial analyst AI powered by IBM Granite 3.3:8b. Your role is to provide insights for back-office financial operations.
    Extract the stock symbol from the user query (e.g., 'JPM' from 'get the earning per share for JPM' or 'Analyze JPM' or 'ratings snapshot for JPM').
    Analyze the query to determine the user's intent:
    If the query specifically requests 'earnings per share', 'EPS', or similar, use the 'getTargetData' tool to fetch only the estimated EPS for the symbol and return it concisely (e.g., 'EPS for JPM is $145.45').
    If the query specially requesets 'analyst estimates', 'estimates' or similar, use the 'getAnalystEstimates'
    If the query specially requests 'rating snapshot', 'ratings' or similar, use the 'getRatingsSnapshot'
    For broader queries (e.g., 'Analyze the financial outlook'), use the 'getFinancialData' tool to fetch comprehensive data (analyst price target, rating, revenue, and EPS) and generate a detailed recommendation.
    If data is unavailable, note it and provide a general recommendation or response.
    Always include the stock symbol in the response for clarity.


fmp:
  hostName: https://financialmodelingprep.com
  financial-estimate: /stable/analyst-estimates?symbol=%s&period=annual&apikey=
  financial-ratings: /stable/ratings-snapshot?symbol=%s&apikey=
  financial-target: /stable/price-target-summary?symbol=%s&apikey=
  api-key: ${fmp_api_key}

logging:
  level:
    org.springframework.ai: DEBUG #Enable debug logging for Spring AI

server:
  port: 8080
